article {
  border-style: solid;
  border-color: black;
  margin: 0.5em;
  padding: 0.5em;
}

header {
  display: flex;
}

.tweet-header p {
  margin-left: auto;
  margin-top: auto;
  color: #d2dbe6;
  font-weight: 600;
}

.tweet-avatar img {
  height: 48px;
  width: 48px;
  vertical-align: middle;
}


.tweet-container-body {
  margin-bottom: 0.5em;
  border-color: black;
  border-bottom: solid;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-social-icons {
  margin: 0.2em;
}

.fa-retweet:hover{
  color: orange;
}

.fa-share-alt:hover{
  color: orange;
}

.fa-heart:hover{
  color: orange;
}