article {
  border-style: solid;
  border-color: black;
  margin: 0.5em;
  padding: 0.5em;
}

.tweet-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-user{
  display: flex;
  flex-direction: row;
}
.tweet-avatar{
  display: flex;
  align-items: center;
}
.tweet-avatar img {
  height: 48px;
  padding-right: 0.5em;
}

.tweet-container-body {
  margin-bottom: 0.5em;
  border-color: black;
  border-bottom: solid;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-social-icons {
  margin: 0.2em;
}

.fa-retweet:hover{
  color: orange;
}

.fa-share-alt:hover{
  color: orange;
}

.fa-heart:hover{
  color: orange;
}

 

